---
import Layout from '@layouts/Layout.astro';
import SectionGrid from '@components/SectionGrid.astro';
import Table from '@components/Table.astro';
import TableRow from '@components/TableRow.astro';
import Card from '@components/Card.astro';
---

<Layout
  title="Gummientchen"
  description="Join Gummientchen on a gaming odyssey like no other. From dominating battlefields to unraveling epic quests, Gummientchen explores pixel realms, leaving no virtual stone unturned."
  heading="Gummientchen"
  subheading="Conquering Virtually Everything"
>
  <SectionGrid title="Gamertags" id="gamertags" transition:animate="slide">
    <Card
      service="Steam"
      gamertag="Gummientchen"
      description="Praise Lord Gaben"
      svg="steam"
      buttonhref="http://steamcommunity.com/id/Gummientchen/"
    />
    <!-- <Card
      service="GOG.com"
      gamertag="Gummientchen_"
      description="The Defensive Regulatory Magicon must be destroyed!"
      svg="gog"
      buttonhref="https://www.gog.com/u/Gummientchen_"
    /> -->
    <Card
      service="Xbox Live"
      gamertag="Gummientchen"
      description="One Xbox One X Box"
      svg="xbox"
      buttonhref="https://account.xbox.com/en-us/profile?gamertag=Gummientchen"
    />
    <Card
      service="EA"
      gamertag="Gummientchen_ch"
      description="They will spy on you! :P"
      svg="ea"
    />
    <Card
      service="Uplay"
      gamertag="Gummientchen_"
      description="These games are never finished! ;)"
      svg="uplay"
    />
    <!-- <Card
      service="Nintendo"
      gamertag="Gummientchen_ch"
      description="0619 - 8903 - 4604"
      svg="nintendo"
    /> -->
    <Card
      service="Battle.net"
      gamertag="Gummientchen#21348"
      description="Leeroy Jenkins!!"
      svg="battlenet"
    />
    <Card
      service="Riot"
      gamertag="GummientchenCH#1337"
      description="So many Wifus!"
      svg="riot"
      buttonhref="https://tracker.gg/valorant/profile/riot/GummientchenCH%231337/overview?playlist=unrated&season=all"
      buttonsuffix="Tracker"
    />
  </SectionGrid>

  <SectionGrid title="Games" id="games">
    <!-- <Card
      service="CSGO"
      description="Bomb has been planted"
      svg="csgo"
      buttonhref="games/csgo"
      buttonsuffix="More Info"
    /> -->
    <Card
      service="CS2"
      description="Bomb has been planted"
      svg="cs2"
      buttonhref="games/cs2"
      buttonsuffix="More Info"
    />
    <Card
      service="Factorio"
      description="The Factory Must Grow!"
      svg="factorio"
      buttonhref="games/factorio"
      buttonsuffix="More Info"
    />
    <Card
      service="Farming Simulator 22"
      description="Pepperidge Farm Remembers"
      svg="fs22"
      buttonhref="games/fs22"
      buttonsuffix="More Info"
    />
    <Card
      service="Rocket League"
      description="Calculated"
      svg="rocketleague_2"
      buttonhref="games/rocketleague"
      buttonsuffix="More Info"
    />
    <Card
      service="Sea of Thieves"
      description="You want bannana?"
      svg="seaofthieves"
      buttonhref="games/seaofthieves"
      buttonsuffix="More Info"
    />
    <Card
      service="Skyrim"
      description="Fus Ro Dah!"
      svg="skyrim"
      buttonhref="games/skyrim"
      buttonsuffix="More Info"
    />
    <Card
      service="Valorant"
      description="Pew Pew Pew"
      svg="valorant"
      buttonhref="games/valorant"
      buttonsuffix="More Info"
    />
    <Card
      service="Kerbal Space Program"
      description="Jeb: This is Fine!"
      svg="ksp"
      buttonhref="games/ksp"
      buttonsuffix="Info"
    />
    <Card
      service="Overwatch 2"
      description="Who needs aim anyway?"
      svg="overwatch2"
      buttonhref="games/overwatch2"
      buttonsuffix="More Info"
    />
    <Card
      service="Helldivers 2"
      description="For Super Earth!"
      svg="helldivers2"
      buttonhref="games/helldivers2"
      buttonsuffix="More Info"
      svgbackground="#2b2b2b"
    />
  </SectionGrid>

  <!-- <SectionGrid title="Hype">
    <Card
      service="Starfield"
      description="Where's my Sandwich?!"
      svg="starfield"
      buttonhref="hyped/starfield"
      buttonsuffix="More Info"
    />
  </SectionGrid> -->

  <SectionGrid title="Social" id="social">
    <Card
      service="YouTube"
      gamertag="Gummientchen"
      description="DRAMA!!!"
      svg="youtube"
      buttonhref="https://www.youtube.com/user/steff999"
    />
    <Card
      service="Twitch"
      gamertag="Gummientchen"
      description="Only male nipples allowed!"
      svg="twitch"
      buttonhref="https://www.twitch.tv/gummientchen"
    />
    <!-- <Card
      service="Twitter"
      gamertag="Gummientchen_"
      description="#Hashtag"
      svg="twitter"
      buttonhref="https://twitter.com/Gummientchen_"
    /> -->
    <Card
      service="Printables"
      gamertag="Gummientchen"
      description="A happy little printer"
      svg="printables"
      buttonhref="https://www.printables.com/social/11871-gummientchen/about"
    />
  </SectionGrid>

  <Table
    title="Rig"
    href="https://pcpartpicker.com/user/Nycxin/saved/#view=Bm8rGX"
    id="rig"
  >
    <TableRow component="CPU">AMD - Ryzen 9 7950X3D 5.7Ghz</TableRow>
    <TableRow component="GPU">
      Asus - TUF Gaming GeForce RTX® 4090 OC Edition 24GB GDDR6X
    </TableRow>
    <TableRow component="RAM">
      G.Skill - Trident Z5 Neo 64GB (2 x 32GB) DDR5-6000 CL30
    </TableRow>
    <TableRow component="Motherboard">
      Asus - ROG Strix X670E-E Gaming Wifi AM5
    </TableRow>
    <TableRow component="Storage">
      Samsung - 980 PRO NVMe 1TB M.2 2280<br />
      Samsung - 860QVO 2TB 2.5"<br />
      WD Black - SN850X Gaming NVMe 4TB M.2 2280
    </TableRow>
    <TableRow component="CPU Cooler">
      Corsair - iCUE H150i Elite Capellix XT w/ LCD Upgrade
    </TableRow>
    <TableRow component="Case">Fractal - Meshify S2 Black - Dark TG</TableRow>
    <TableRow component="Power Supply">
      Seasonic - Prime Platinum 1300W
    </TableRow>
    <TableRow component="Main Display">
      Dell Alienware - 34" Ultrawide AW3423DWF
    </TableRow>
    <TableRow component="Secondary Displays">
      Samsung - LS34J550WQUXEN<br />
      DELL - U2722D
    </TableRow>
    <TableRow component="Mouse">
      Logitech - G Pro X Superlight Wireless
    </TableRow>
    <TableRow component="Keyboard">Ducky - One 2 (MX Blue)</TableRow>
    <TableRow component="Audio Interface">RØDE - Rodecaster Duo</TableRow>
    <TableRow component="Microphone">Audio-Technica - AT2035</TableRow>
    <TableRow component="Headphones">
      Audio-Technica - ATH-M40x with ZMF Cowhide Earpads
    </TableRow>
  </Table>
</Layout>
