---
---

<section class="description">
  <div class="wrapper">
    <slot />
  </div>
</section>

<style>
  section {
    padding: 0 1em;
    background-color: var(--main-bg-color);
    z-index: 1;
    color: var(--color-gray-100);
    font-size: clamp(1.25rem, 4vw, 1.5rem);
    line-height: 1.75;
    font-weight: 300;
  }

  @media (min-width: 66rem) {
    section {
      grid-column: 1 / span 3;
      display: grid;
      grid-template-columns: 1fr 50rem 1fr;
      padding: 0;
    }
    .wrapper {
      grid-area: 1/2;
    }
  }

  @media (min-width: 87rem) {
    section {
      grid-template-columns: 1fr 80rem 1fr;
    }
  }

  :global(section.description .wrapper h3) {
    padding-block-end: 0;
    margin-block-end: 0 !important;
  }

  :global(h3 + p) {
    margin-block-start: 0;
  }
</style>
