---
---

<header>
  <h1>
    <slot />
  </h1>
</header>

<style>
  header {
    background-repeat: no-repeat;
    background-position: center 5%;
    background-size: cover;
    background-image: svg-load("../images/logo.svg");
    height: clamp(15rem, 50vw, 60rem);
  }

  h1 {
    text-align: center;
    font-size: clamp(1.8rem, 5vw, 5rem);
    padding-block: 1em;
    padding-inline: 1em;
    color: #677;
    font-weight: 600;
    line-height: 1;
    margin: 0;
  }

  @media (min-width: 15rem) {
    header {
      background-position: center 15%;
    }
  }

  @media (min-width: 33rem) {
    header {
      background-position: center 25%;
    }
  }
  @media (min-width: 66rem) {
    header {
      grid-column: 1 / span 3;
      background-position: center 35%;

      /* height: 80vh; */
      overflow: hidden;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
</style>
