---
export interface Props {
  heading: string;
  subheading: string;
  minimal?: string;
}

const { heading, subheading, minimal } = Astro.props;
---

{
  minimal ? (
    <header id="header" class="minimal">
      <h1>{heading}</h1>
      <h2>{subheading}</h2>
    </header>
  ) : (
    <header id="header">
      <h1>{heading}</h1>
      <h2>{subheading}</h2>
    </header>
  )
}

<style>
  header {
    background-repeat: no-repeat;
    background-position: center 15%;
    background-size: cover;

    background-color: var(--color-gray-700);

    background-image: svg-load("../images/logo.svg"),
      url("../images/bg/bg400.jpg");

    background-image: svg-load("../images/logo.svg"),
      image-set(
        url("../images/bg/bg400.avif") type("image/avif"),
        url("../images/bg/bg400.webp") type("image/webp"),
        url("../images/bg/bg400.jpg") type("image/jpeg")
      );

    height: clamp(20rem, 50vw, 70rem);

    position: sticky;
    top: 0;

    z-index: 0;

    animation: fade 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  }

  header.minimal {
    background-image: url("../images/bg/bg400.jpg");

    background-image: image-set(
      url("../images/bg/bg400.avif") type("image/avif"),
      url("../images/bg/bg400.webp") type("image/webp"),
      url("../images/bg/bg400.jpg") type("image/jpeg")
    );
    height: auto;
  }

  @media (min-width: 400.01px) {
    header {
      background-image: svg-load("../images/logo.svg"),
        url("../images/bg/bg800.jpg");

      background-image: svg-load("../images/logo.svg"),
        image-set(
          url("../images/bg/bg800.avif") type("image/avif"),
          url("../images/bg/bg800.webp") type("image/webp"),
          url("../images/bg/bg800.jpg") type("image/jpeg")
        );
    }

    header.minimal {
      background-image: url("../images/bg/bg800.jpg");

      background-image: image-set(
        url("../images/bg/bg800.avif") type("image/avif"),
        url("../images/bg/bg800.webp") type("image/webp"),
        url("../images/bg/bg800.jpg") type("image/jpeg")
      );
    }
  }

  @media (min-width: 800.01px) {
    header {
      background-image: url("../images/bg/bg1300.jpg");

      background-image: svg-load("../images/logo.svg"),
        image-set(
          url("../images/bg/bg1300.avif") type("image/avif"),
          url("../images/bg/bg1300.webp") type("image/webp"),
          url("../images/bg/bg1300.jpg") type("image/jpeg")
        );
    }

    header.minimal {
      background-image: url("../images/bg/bg1300.jpg");

      background-image: image-set(
        url("../images/bg/bg1300.avif") type("image/avif"),
        url("../images/bg/bg1300.webp") type("image/webp"),
        url("../images/bg/bg1300.jpg") type("image/jpeg")
      );
    }
  }

  @media (min-width: 1300.01px) {
    header {
      background-image: svg-load("../images/logo.svg"),
        url("../images/bg/bg2500.jpg");

      background-image: svg-load("../images/logo.svg"),
        image-set(
          url("../images/bg/bg2500.avif") type("image/avif"),
          url("../images/bg/bg2500.webp") type("image/webp"),
          url("../images/bg/bg2500.jpg") type("image/jpeg")
        );
    }

    header.minimal {
      background-image: url("../images/bg/bg2500.jpg");

      background-image: image-set(
        url("../images/bg/bg2500.avif") type("image/avif"),
        url("../images/bg/bg2500.webp") type("image/webp"),
        url("../images/bg/bg2500.jpg") type("image/jpeg")
      );
    }
  }

  @keyframes fade {
    to {
      opacity: 0;
    }
  }

  h1,
  h2 {
    text-align: center;
    margin: 0;
  }

  h1 {
    font-size: clamp(1.8rem, 4vw, 8rem);
    padding-block-start: 1.5em;
    padding-block-end: 0.25em;
    padding-inline: 1em;
    color: var(--header-font-color);
    font-weight: 600;
    line-height: 1.2;
  }

  h2 {
    font-size: clamp(1.2rem, 3vw, 5rem);
    padding-block-end: 1em;
    padding-inline: 1em;
    color: var(--header-font-color);
    font-weight: 500;
    line-height: 1.2;
  }

  @media (min-width: 15rem) {
    header {
      background-position: center 15%;
    }
  }

  @media (min-width: 33rem) {
    header {
      background-position: center 45%;
    }

    h1 {
      padding-block-start: 1em;
    }
  }
  @media (min-width: 66rem) {
    header {
      grid-column: 1 / span 3;
      overflow: hidden;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    h1 {
      padding-block-start: 0.75em;
    }
  }
</style>
