---
export interface Props {
  component: string;
}

const { component } = Astro.props;
---

<tr>
  <td>{component}</td>
  <td><slot /></td>
</tr>

<style>
  td:first-child {
    text-align: right;
    padding-right: 2em;
  }
  td {
    border-top: 1px dashed #fff;
    vertical-align: top;
    padding: 0.5em 0;
  }
  tr:first-child td {
    border-top: none;
  }
</style>
