---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section>
  <div class="wrapper">
    <h2>{title}.</h2>
    <div class="cards">
      <slot />
    </div>
  </div>
</section>

<style>
  section {
    padding: 0 1em;
    background-color: var(--main-bg-color);
    z-index: 1;
  }

  section .cards {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  section h2 {
    color: var(--color-gray-100);
    font-size: 34px;
    font-weight: 600;
    line-height: 45px;
    margin-top: 0;
  }

  @media (min-width: 66rem) {
    section {
      grid-column: 1 / span 3;
      display: grid;
      grid-template-columns: 1fr 50rem 1fr;
      padding: 0;
    }
    .wrapper {
      grid-area: 1/2;
    }
  }

  @media (min-width: 87rem) {
    section {
      grid-template-columns: 1fr 80rem 1fr;
    }
  }
</style>
